{% extends "base_rdfa.html" %}

{% load i18n %}
{%block httpheader%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" 
      xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:dcterms="http://purl.org/dc/terms/"
      xmlns:foaf="http://xmlns.com/foaf/0.1/"
      xmlns:vcard="http://www.w3.org/2006/vcard/ns#"
      xmlns:biografr="http://biografr.com/ontology#">
{%endblock%}
{% block extra_head_base %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}foafssl/css/foafssl.css" />
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block login %}
    {% comment %}
    <a href="">{% trans "Not implemented yet: Login" %}</a>
    {% endcomment %}
{% endblock %}

{% block logo_link_image %}
    <a href="{% url xmpp_identity %}"><img src="{{ STATIC_URL }}images/logo.png" alt="django-foafssl"/></a>
{% endblock %}

{% block tabs %}{% endblock %}

{% block right_tab %}
            <ul>
                <li class="tab rtab_xmpp_identity"><div><a href="{% url xmpp_identity %}">{% trans "Generate XMPP FOAF+SSL Client Certificate" %}</a></div></li>
                {% comment %}
                <li class="tab rtab_foaf_identity"><div><a href="">{% trans "Generate FOAF+SSL Client Certificate (not implemented)" %}</a></div></li>
                <li class="tab rtab_ca_certificate"><div><a href="">{% trans "Generate CA Certificate (not implemented)" %}</a></div></li>
                {% endcomment %}
            </ul>
{% endblock %}


{% block disclaimer%}
<div class="portlet">
<p><b> Advice:</b> Beta version, report bugs at <a href="mailto:{{ contact_email }}">{{ contact_email }}</a></p>
</div>
<div class="clear_both"></div>
{% endblock %}
{% block footerblock %}
{#    {% include "footerblock.html"%}#}
{% endblock %}
{% block footer %}
<div class="legal">
    <div id="image_left">
    <img src="{{ MEDIA_URL }}images/rhizomatiklabs-name-23-158.png" alt="{% trans "Rhizomatik Labs" %}"/>
    </div>
    {#<img class="image" src="{{ MEDIA_URL }}images/rhizomatiklabs-image-44-53.png" alt="{% trans "Rhizomatik Labs" %}"/>#}
    
    <p>{% trans "Copyleft 2009 &lt;Rhizomatik Labs&gt;" %} {#| <a href="{% url privacy %}">{% trans "Privacy Policy" %}</a> {#| <a href="{% url about.disclaimer %}">{% trans "Disclaimer" %}</a></p>#}
    <div id="image_right">
    <img src="{{ MEDIA_URL }}images/rhizomatiklabs-image-44-53.png" alt="{% trans "Rhizomatik Labs" %}"/>
    </div>
</div>
    {% include "poweredby.html"%}
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}
