{% load i18n %}
<div class="col1">
    <h2>RECENT <span class="blue">COMMENTS</span></h2>
    {% comment %}
    TWEETS
    {% endcomment %}
    <ul>
        <li>
            <a href="">not yet implemented</a>not yet implemented
        </li>
        <li>
            <a href="">not yet implemented</a>not yet implemented
        </li>
        <li>
            <a href="">not yet implemented</a>not yet implemented
        </li>
        <li>
            <a href="">not yet implemented</a>not yet implemented
        </li>
    </ul>
</div>
<div class="col2">
    <h2>TAG <span class="green">CLOUD</span></h2>
    <p>
        not yet implemented not yet implemented not yet implemented 
        not yet implemented not yet implemented not yet implemented 
    </p>
</div>
<div class="col3">
    <h2>PUBLIC <span class="orange">TIMELINE</span></h2>
    {% comment %}
    RECENT ACTIVITY
    {% endcomment %}
    <ul>
        <li>
            <a href="">not yet implemented</a>not yet implemented
        </li>
        <li>
            <a href="">not yet implemented</a>not yet implemented
        </li>
        <li>
            <a href="">not yet implemented</a>not yet implemented
        </li>
        <li>
            <a href="">not yet implemented</a>not yet implemented
        </li>
    </ul>
</div>
<div class="col4">
    <h2>RECENT <span class="green">BLOGS</span></h2>
    <p>
        not yet implemented not yet implemented not yet implemented 
        not yet implemented not yet implemented not yet implemented 
    </p>
</div>
<div class="col5">
    <h2>RECENT <span class="blue">BOOKMARKS</span></h2>
    <p>
        not yet implemented not yet implemented not yet implemented 
        not yet implemented not yet implemented not yet implemented 
    </p>
    {% comment %}
    PROJECTS, TRIBUS, MEMBERS
    {% endcomment %}
    
</div>
